@import "../abstract/variables";

.btn {
  font-size: 22px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.primary_button {
  background-color: $primary-color;
  color: $text-color;
  border: 1px solid $primary-color;
  padding: 10px 100px;
  box-shadow: 0 0 9px $primary-color;
}

.secondary_button {
  background-color: $inputs-color;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 10px 50px;
}