@import "../abstract/variables";

.footer {
	box-sizing: border-box;
	color: $text-color;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: $primary-color;
	align-items: center;
	margin-bottom: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;

	.footer_copyright {
		font-weight: bold;

		span {
			font-weight: normal;
		}
	}
}

@media (width < 1100px) {
	.footer {
		.footer_logo {
			.footer_logo-text {
				font-size: 30px;
			}
			img {
				width: 30px;
				height: auto;
			}
		}
	}
}

@media (width < 800px) {
	.footer {
		.footer_copyright {
			font-size: 12px;
		}
	}
}
@media (width < 600px) {
	.footer {
		padding: 5px;
		width: 100vw;
		.footer_logo {
			.footer_logo-text {
				font-size: 16px;
			}
			img {
				width: 20px;
				margin: 0 10px 0 0;
			}
		}
		.footer_text {
			font-size: 10px;
		}
		.footer_copyright {
			font-size: 10px;
		}
	}
}
