@import "../abstract/variables";


label {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-weight: bold;
}

input {
  background-color: $inputs-color;
  border: none;
  width: 263px;
  height: 40px;
  border-radius: 6px;
  margin-top: 6px;
  padding-left: 10px;
  color: black;
}