.nav_tabs {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  align-items: center;
  width: 400px;
  bottom: -10px;
  overflow: visible;
}

.nav_links_item {
  position: relative;
  width: 250px;
  clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 52px, 100% 100%, 0 100%);
  text-align: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  z-index: 1;

  &:first-of-type {
    box-shadow: -10px 0 0 -8px $shadow-color;
    position: relative;
    display: flex;
    flex-direction: column;
    p {
      width: 25px;
      height: 25px;
      background-color: $primary-color;
      border-radius: 50%;
      font-size: 12px;
      color: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-weight: bold;
      right: 30px;
    }

  }

  &:last-of-type {
    left: -20px;
  }
}

.link {
  display: block;
  text-decoration: none;
  padding: 20px 60px 20px 20px;
  color: $primary-color;
  opacity: 0.5;
  background-color: $text-color;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: bold;
  font-size: 24px;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}


@media (width < 1250px) {

  .nav_links_item {
    width: 220px;
  }

  .link {
    font-size: 22px;
  }
}

@media (width < 1000px) {

  .nav_links_item {
    width: 160px;

    &:first-of-type {

    p {
      width: 20px;
      height: 20px;
      right: 35px;
    }
  }
  }

  .link {
    font-size: 16px;
  }
}

@media (width < 700px) {
  .nav_links {
    width: 250px;
    bottom: 0;

    .nav_links_item {
      width: 180px;
  }

  .link {
    font-size: 16px;
    padding: 15px 60px 15px 15px;
  }
}
}

@media (width < 550px) {
  .nav_links {
    width: 220px;

    .nav_links_item {

      &:first-of-type {

        p {
          visibility: hidden;
        }
  }

  .link {
    font-size: 14px;
    padding: 12px 40px 12px 12px;
  }
}
}
}