.nav_tabs {
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  align-items: center;
  width: 100%;
  overflow: visible;
  bottom: -10px;
}

.nav_links_item {
  position: relative;
  flex: 0 0 240px;
  min-width: 80px;
  clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 52px, 100% 100%, 0 100%);
  text-align: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  z-index: 1;
  margin-right: 10px;
  max-width: 240px;

  &:first-of-type {
    box-shadow: -10px 0 0 -8px $shadow-color;
    position: relative;
    display: flex;
    flex-direction: column;
    p {
      width: 25px;
      height: 25px;
      background-color: $primary-color;
      border-radius: 50%;
      font-size: 12px;
      color: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-weight: bold;
    }

  }

  &:last-of-type {
    left: -20px;
  }
}

.link {
  display: block;
  text-decoration: none;
  padding: 16px 30px;
  color: $primary-color;
  opacity: 0.5;
  background-color: $text-color;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}
@media (max-width: 1400px) {
  .link {
    font-size: 18px;
    padding: 14px 22px;
  }
}

@media (max-width: 1200px) {
  .nav_links_item {
    flex: 0 0 200px;
    &:first-of-type p {
      top: 8px;
    }
  }

  .link {
    font-size: 16px;
    padding: 12px 18px;
  }
}

@media (max-width: 960px) {
  .nav_links_item {
    min-width: 70px;
    margin-right: 5px;
  }
}

@media (max-width: 600px) {
  .nav_tabs {
    flex-wrap: wrap;
  }
}

@media (width: 450px - 600px) {
  .nav_links {
    left: -10px;
    justify-content: center;
  }
}
