// .nav_tabs {
//   width: 95vw;
//   display: flex;
//   justify-content: space-between;
//   height: auto;
// }

// .nav_links {
//   position: relative;
//   display: flex;
//   justify-content: flex-start;
//   background-color: transparent;
//   align-items: center;
//   width: 400px;
//   bottom: -10px;
//   overflow: hidden;

//   .nav_links_item {
//     position: relative;
//     width: 250px;
//     clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 52px, 100% 100%, 0 100%);
//     text-align: center;

//     &:first-of-type {
//       box-shadow: -10px 0px 10px 0px #242424;
//     }

//     &:last-of-type {
//       left: -20px;
//     }
//   }

//   .link {
//     display: block;
//     text-decoration: none;
//     padding: 20px 30px 20px 0;
//     color: $primary-color;
//     opacity: 0.5;
//     background-color: $text-color;
//     border-top-left-radius: 12px;
//     border-top-right-radius: 12px;
//     border-bottom-right-radius: 0px;
//     border-bottom-left-radius: 0px;
//     font-weight: bold;
//     font-size: 24px;

//     &:first-of-type {
//       box-shadow: -10px 2px 3px 0px #242424;
//     }

//     &:hover {
//       opacity: 1;
//     }

//     &.active {
//       opacity: 1;
//     }
//   }
// }
.nav_tabs {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  align-items: center;
  width: 400px;
  bottom: -10px;
  overflow: visible;
}

.nav_links_item {
  position: relative;
  width: 250px;
  clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 52px, 100% 100%, 0 100%);
  text-align: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  z-index: 1;

  &:first-of-type {
    box-shadow: -10px 0 0 -8px $shadow-color;
  }

  &:last-of-type {
    left: -20px;
  }
}

.link {
  display: block;
  text-decoration: none;
  padding: 20px 30px 20px 0;
  color: $primary-color;
  opacity: 0.5;
  background-color: $text-color;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: bold;
  font-size: 24px;

  &:first-of-type {
    box-shadow: none;
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}
