@import "../abstract/variables";

.not-found-header {
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
}