@import "../abstract/variables";

.not-found {
  box-sizing: border-box;
  color: black;
  display: flex;
  margin: auto;
  position: fixed;
  top: 45%;
  left: 45%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}