@import "../abstract/variables";

.registration-container {
  background-color: $text-color;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 4px $shadow-color;
  padding: 20px;

  .primary-button {
    width: 217px;
  }
}
.registration-header {
  font-size: 42px;
  font-weight: bold;
  color: $primary-color;
  padding-top: 20px;
}
.registration-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.registration-section-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.last-input {
  display: flex;
  align-self: flex-start;
}
.registration-buttons {
  display: flex;
}