@import "../abstract/variables";

.header {
	display: flex;
	background-color: $primary-color;
	justify-content: space-between;
	align-items: center;
	color: $text-color;
	font-size: 22px;
	font-weight: bold;
	width: 100%;
}

.header_logo {
	display: flex;
	align-items: center;
	margin-left: 20px;
	cursor: pointer;

	.header_logo-text {
		font-size: 34px;
		font-weight: bold;
	}

	img {
		width: 36px;
		height: auto;
		padding-left: 10px;
	}
}

.header_text {
	font-size: 16px;
	font-weight: bold;

	span {
		color: $accent-color;
	}
}

.header_user {
	display: flex;
	font-size: 22px;
	align-items: center;

	.header_user_name {
		position: relative;
		padding-right: 20px;

		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 16%;
			transform: translateY(-50%);
			width: 2px;
			height: 66px;
			background-color: $text-color;
		}
	}

	.header_user_btn {
		background-color: transparent;
		color: inherit;
		border: none;
		padding: 18px 14px 10px 18px;
		margin: auto;
		position: relative;
		&:hover {
			color: #f7bf46;
			cursor: pointer;
		}
	}
}

@media (width < 1000px) {
	.header {
		font-size: 18px;
		.link {
			padding: 12px;
		}
	}
	.header_user {
		font-size: 18px;
		.header_user_btn {
			padding: 10px;
		}
		.header_user_name::after {
			height: 45px;
		}
	}
	.header_logo {
		.header_logo-text {
			font-size: 25px;
		}
		img {
			width: 25px;
		}
	}
}

@media (width < 500px) {
	.header {
		font-size: 14px;
		.header_user {
			font-size: 14px;
		}
	}
}
