@import "../abstract/variables";

.visit_header {
  font-size: 42px;
  color: $primary-color;
  font-weight: bold;
  padding: 15px 35px;
}

//table

.visit_table {
  background-color: $text-color;
  margin: auto;
  box-sizing: border-box;
  border-radius: 12px;
  width: 95vw;
  box-shadow: 0 4px 4px $shadow-color;
  overflow: hidden;
  z-index: 1;

  .visit_table_header {
    background-color: $primary-color;
    color: $text-color;
    font-size: 22px;
    font-weight: bold;

    tr {
      display: flex;
      justify-content: space-between;
      border-radius: 12px;

      th {
        padding: 15px 0;
        border-radius: 12px;
        width: 160px;

        &:first-child {
          border-top-left-radius: 12px;
        }

        &:last-child {
          width: 35px;
          border-top-right-radius: 12px;
        }
      }
    }
  }

  .visit_table_body {
    display: flex;
    flex-direction: column;
    text-align: center;

    tr {
      border-bottom: 1px solid $inputs-color;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &:last-of-type {
        border-bottom: none;
      }

      td {
        width: 160px;
        padding: 18px 0;

        &:last-of-type {
          width: 20px;
          margin-right: 30px;
        }

        .icon-close {
          color: crimson;
          cursor: pointer;
        }

      }
    }
  }
}

//pagination

.visit_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visit_pagination {
  display: flex;
  padding: 20px;
  margin-right: 20px;
  color: $primary-color;
  font-weight: bold;

  .visit_pagination_button {
    border: none;
    background-color: transparent;

    &:disabled {
      .visit_pagination_icon {
        opacity: 0.3;
        cursor: auto;
      }
    }

    .visit_pagination_icon {
      color: $primary-color;
      cursor: pointer;
    }
  }

  p {
    padding: 0 10px;
  }

  span {
    text-decoration: underline;
  }
}