@import "../abstract/variables";

//table

.visit_wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 100%;
  justify-content: center;
  max-width: calc(100% - 30px);
}

.visit_container {
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    overflow-x: auto;
}
.visit_table {
  background-color: $text-color;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 4px $shadow-color;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-height: 670px;

  .visit_table_header {
    background-color: $primary-color;
    color: $text-color;
    font-size: 18px;
    font-weight: bold;

    tr {
      width: 100%;

      th {
        min-width: 100px;
        padding: 14px 10px;
        text-align: center;
        font-size: 15px;

        &:first-child {
          width: 140px;
        }

        &:last-child {
          width: 60px;
        }
      }
    }
  }


  .visit_table_body {
		tr {
			border-bottom: 1px solid $inputs-color;

			&:last-of-type {
				border-bottom: none;
			}

			td {
              padding: 14px 10px;
              text-align: center;
              font-size: 15px;
              min-width: 100px;

				&:last-of-type {
					max-width: 40px;
					margin-right: 30px;
				}

				.icon-close {
					color: crimson;
					cursor: pointer;
				}
				img {
					margin-right: 15px;
					cursor: pointer;
				}
			}
		}
	}
}

//pagination

.pagination_container {
	position: relative;
	display: flex;
	align-items: stretch;
    flex-direction: column;
	width: 100%;
    max-width: 100%;
	justify-content: space-between;
}

.visit_pagination {
	display: flex;
	color: $primary-color;
	font-weight: bold;
    justify-content: center;
    width: 100%;
    margin-top: 15px;

	.visit_pagination_button {
		border: none;
		background-color: transparent;

		&:disabled {
			.visit_pagination_icon {
				opacity: 0.3;
				cursor: auto;
			}
		}

		.visit_pagination_icon {
			color: $primary-color;
			cursor: pointer;
		}
	}

	p {
		padding: 0 10px;
	}

	span {
		text-decoration: underline;
	}
}

@media (width < 960px) {
	.visit_header {
		font-size: 30px;
		padding: 10px;
	}

		.visit_table_header {
			font-size: 16px;

			tr {
				display: table-row;
				margin-top: 15px;
				th {
                  font-size: 14px;
                  padding: 10px;
					&:last-child {
						width: 60px;
						border-top-right-radius: 12px;
					}
				}
			}

		.visit_table_body {
			tr {
				align-self: center;

				td {
					font-size: 14px;
					padding: 10px 0;
				}
			}
		}
	}

	.visit_pagination {
		p {
			font-size: 14px;
			padding: 0 0 0 10px;
		}
	}
}

@media (width < 900px) {
	.species,
	.name {
		display: none;
	}
}

@media (width < 700px) {
	.species,
	.name,
	.chip-number {
		display: none;
	}
	.visit_header {
		font-size: 26px;
		padding: 5px;
	}
	.visit_table {
		.visit_table_header {
			font-size: 14px;

			tr {
				th {
				}
			}
		}
		.visit_table_body {
			tr {
				td {
					font-size: 14px;
					align-self: center;

					&:last-of-type {
						width: 35px;
					}
				}
			}
		}
	}
	.visit_pagination p {
		font-size: 12px;
	}
}

@media (width < 550px) {
	.species,
	.name,
	.chip-number {
		display: none;
	}
	.visit_header {
		font-size: 24px;
		padding: 5px;
	}
	.visit_table {
		max-width: 80vw;
		overflow: hidden;

		.visit_table_header {
			font-size: 12px;

			tr {
				th {
					width: 70px;

					&:last-of-type {
						width: 30px;
					}
				}
			}
		}
		.visit_table_body {
			tr {
				justify-content: space-between;

				td {
					width: 80px;
					font-size: 12px;
					align-self: center;

					&:last-of-type {
						width: 35px;
						margin-right: 10px;
					}
					img {
						width: 15px;
						height: auto;
						margin-right: 10px;
					}
				}
			}
		}
	}
}
