//colors:
$primary-color: #287B85;
$text-color: white;
$background-color: #DBFEFF;
$accent-color: #F7BF46;
$inputs-color: rgba(85, 184, 189, 0.3);

//fonts:
$primary-font: "Roboto", sans-serif;

//icons
$icon-spinner: 'dlyo4le97f';
$icon-logo: '\e9cf';
$icon-warning: '\ea08';
$icon-close: '\ea0f';
$icon-success: '\ea10';
$icon-logout: '\ea14';
$icon-arrow-right: '\ea42';
$icon-arrow-left: '\ea44';