@import "abstract/variables";
@import "components/navbar";
@import "components/reset";
@import "components/icons";
@import "components/notFound";
@import "components/loginForm";
@import "components/inputs";
@import "components/buttons";
@import "components/footer";
@import "components/registration";
@import "components/visitList";
@import "components/modal";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  font-family: $primary-font;
}